.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    background-color: rgba(253, 153, 0, 0.3);
}